body, button, input {
  font-family: 'Questrial',sans-serif; }

ul {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p, figure {
  font-weight: normal;
  margin: 0; }

button, input {
  outline: none;
  border: none;
  color: inherit; }

a {
  text-decoration: none;
  color: inherit; }

p, a, button, input {
  font-size: 1.125rem; }

@keyframes intro-content {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes intro-header {
  0% {
    transform: translateY(40px) scale(0.6); }
  100% {
    transform: translate(0) scale(1); } }

#bg {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: fixed; }

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  position: relative;
  z-index: 10;
  transition: all 0.4s;
  animation-name: intro-content;
  animation-duration: 1.4s;
  animation-delay: 0.1s;
  animation-fill-mode: both; }
  #landing h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    animation-name: intro-header;
    animation-duration: 1s;
    animation-delay: 0.1s; }
  #landing p {
    width: 36vw;
    text-align: center;
    line-height: 190%; }
  #landing button {
    color: #425831;
    background-color: white;
    padding: 0.6em 4.2em;
    border-radius: 4px;
    margin-top: 0.875rem; }
    #landing button:hover {
      opacity: 0.8; }

#dimmed-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(20, 20, 20, 0.86);
  top: 0;
  left: 0;
  transition: all 0.6s;
  transform: translateX(-120vw);
  visibility: hidden; }
