body, button, input {
  font-family: "Questrial", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, figure {
  font-weight: normal;
  margin: 0;
}

button, input {
  outline: none;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p, a, button, input {
  font-size: 1.125rem;
}

@keyframes intro-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes intro-header {
  0% {
    transform: translateY(40px) scale(0.6);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
#bg {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: fixed;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  position: relative;
  transition: all 0.4s;
  z-index: 10;
  animation-name: intro-content;
  animation-duration: 1.4s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}
#landing h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation-name: intro-header;
  animation-duration: 1s;
  animation-delay: 0.1s;
}
#landing p {
  width: 36vw;
  text-align: center;
  line-height: 190%;
}
#landing button {
  color: #425831;
  background-color: white;
  padding: 0.6em 4.2em;
  border-radius: 4px;
  margin-top: 0.875rem;
}
#landing button:hover {
  opacity: 0.8;
}

#dimmed-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(20, 20, 20, 0.86);
  top: 0;
  left: 0;
  transition: all 0.6s;
  transform: translateX(-120vw);
  visibility: hidden;
}

#full-site {
  visibility: hidden;
  overflow: hidden;
  max-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

#above-fold {
  position: relative;
  color: white;
  padding-left: 92px;
  padding-top: 62px;
  box-sizing: border-box;
  width: 94%;
  height: 100vh;
  display: inline-block;
  transition: all 1s 0.5s;
  z-index: 12;
}
#above-fold nav {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  padding-bottom: 1.125rem;
  padding-right: 4.5rem;
}
#above-fold nav li {
  display: inline-block;
  padding: 0 1.875rem;
}
#above-fold nav li:first-child {
  padding-left: 0;
}
#above-fold nav a {
  transition: opacity 0.1s;
}
#above-fold nav a:hover {
  opacity: 0.8;
}
#above-fold article {
  margin-top: 12.75rem;
}
#above-fold article h1 {
  font-size: 2.25rem;
}
#above-fold article p {
  margin: 3rem 0;
  width: 40rem;
  line-height: 200%;
}
#above-fold article button {
  background-color: #404040;
  color: #E8FFF7;
  padding: 0.8em 16em 0.8em 1.4em;
  transition: opacity 0.2s;
}
#above-fold article button:hover {
  opacity: 0.6;
}

#register-side-bar {
  width: 170%;
  display: flex;
  position: absolute;
  transition: all 0.6s 0.6s;
  transform: translateX(200px);
}
#register-side-bar #empty-section {
  width: 94%;
  height: 100vh;
}
#register-side-bar #visible-section {
  width: 6%;
  height: 100vh;
  background-color: rgba(227, 227, 227, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #B3B3B3;
  font-size: 1.125rem;
  transition: opacity 1.4s;
}
#register-side-bar #visible-section span {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 8vh 0;
  transition: opacity 0.6s;
}
#register-side-bar #visible-section span i {
  font-size: 1.5rem;
  margin-bottom: 0.875rem;
}
#register-side-bar #visible-section h4 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: opacity 0.6s;
}
#register-side-bar #form-section {
  background-color: rgba(227, 227, 227, 0.08);
  height: 100vh;
  box-sizing: border-box;
  width: 70%;
  color: white;
  padding-top: 30vh;
}
#register-side-bar #form-section h2 {
  font-size: 1.875rem;
  margin-bottom: 3.25rem;
}
#register-side-bar #form-section input:not([type=submit]) {
  display: block;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  margin: 3.125rem 0;
  padding: 6px 18px;
}
#register-side-bar #form-section input[type=submit] {
  background-color: white;
  color: #292929;
  padding: 0.4em 5.4em;
  border-radius: 4px;
  margin-left: 8px;
  margin-bottom: 4.125rem;
  transition: all 0.3s;
}
#register-side-bar #form-section input[type=submit]:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
#register-side-bar #form-section ::placeholder {
  color: inherit;
}
#register-side-bar #form-section a {
  color: #B29DFF;
}
#register-side-bar #form-section a:hover {
  opacity: 0.7;
}

#info-section {
  color: #CFCFCF;
  margin: 5.125rem;
}
#info-section article {
  display: flex;
  align-items: center;
  margin: 2rem;
}
#info-section article figure {
  width: 48%;
  height: 13.875rem;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  transition: all 0.3s;
}
#info-section article figure:hover {
  transform: scale(1.04);
}
#info-section article div {
  margin-left: 6.25rem;
}
#info-section article div h2 {
  font-size: 1.875rem;
  margin-bottom: 0.5rem;
}
#info-section article div p {
  font-size: 1rem;
  width: 70%;
  line-height: 220%;
}
#info-section article:nth-of-type(1) figure {
  background-image: url("../images/info-1.jpg");
}
#info-section article:nth-of-type(2) {
  position: relative;
  left: 60px;
}
#info-section article:nth-of-type(2) figure {
  background-image: url("../images/info-2.jpg");
}
#info-section article:nth-of-type(3) figure {
  background-image: url("../images/info-3.jpg");
}

#current-users {
  width: 60%;
  color: white;
  margin: 12rem auto;
  padding: 1.375rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.38);
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}
#current-users h3, #current-users h4 {
  text-align: center;
}
#current-users h4 {
  font-size: 2.25rem;
}
#current-users h3 {
  font-size: 4.5rem;
  margin-top: 0.75rem;
}

/*# sourceMappingURL=styles.css.map */
