body, button, input {
  font-family: 'Questrial',sans-serif; }

ul {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p, figure {
  font-weight: normal;
  margin: 0; }

button, input {
  outline: none;
  border: none;
  color: inherit; }

a {
  text-decoration: none;
  color: inherit; }

p, a, button, input {
  font-size: 1.125rem; }

@keyframes intro-content {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes intro-header {
  0% {
    transform: translateY(40px) scale(0.6); }
  100% {
    transform: translate(0) scale(1); } }

#bg {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: fixed; }

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  position: relative;
  z-index: 10;
  transition: all 0.4s;
  animation-name: intro-content;
  animation-duration: 1.4s;
  animation-delay: 0.1s;
  animation-fill-mode: both; }
  #landing h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    animation-name: intro-header;
    animation-duration: 1s;
    animation-delay: 0.1s; }
  #landing p {
    width: 36vw;
    text-align: center;
    line-height: 190%; }
  #landing button {
    color: #425831;
    background-color: white;
    padding: 0.6em 4.2em;
    border-radius: 4px;
    margin-top: 0.875rem; }
    #landing button:hover {
      opacity: 0.8; }

#dimmed-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(20, 20, 20, 0.86);
  top: 0;
  left: 0;
  transition: all 0.6s;
  transform: translateX(-120vw);
  visibility: hidden; }

#full-site {
  visibility: hidden;
  overflow: hidden;
  max-height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

#above-fold {
  position: relative;
  color: white;
  padding-left: 92px;
  padding-top: 62px;
  box-sizing: border-box;
  width: 94%;
  height: 100vh;
  display: inline-block;
  opacity: 0;
  transition: all 1s 0.5s; }

nav {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  padding-bottom: 1.125rem;
  padding-right: 4.5rem; }
  nav li {
    display: inline-block;
    padding: 0 1.875rem; }
  nav li:first-child {
    padding-left: 0; }
  nav a {
    transition: opacity .1s; }
    nav a:hover {
      opacity: 0.8; }

article {
  margin-top: 12.75rem; }
  article h1 {
    font-size: 2.25rem; }
  article p {
    margin: 3rem 0;
    width: 40rem;
    line-height: 200%; }
  article button {
    background-color: #404040;
    color: #E8FFF7;
    padding: 0.8em 1.4em;
    padding-right: 16em;
    transition: opacity 0.2s; }
    article button:hover {
      opacity: 0.6; }

#register-side-bar {
  width: 200%;
  display: flex;
  position: absolute;
  transition: all 0.6s 0.6s;
  transform: translateX(200px); }
  #register-side-bar #empty-section {
    width: 94%;
    height: 100vh; }
  #register-side-bar #visible-section {
    width: 6%;
    height: 100vh;
    background-color: rgba(227, 227, 227, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #3B3B3B;
    font-size: 1.125rem;
    transition: opacity 1.4s; }
    #register-side-bar #visible-section span {
      writing-mode: vertical-rl;
      text-orientation: upright;
      margin: 8vh 0;
      transition: opacity 0.6s; }
      #register-side-bar #visible-section span i {
        font-size: 1.5rem;
        margin-bottom: 0.875rem; }
    #register-side-bar #visible-section h4 {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: opacity 0.6s; }
  #register-side-bar #form-section {
    background-color: rgba(227, 227, 227, 0.08);
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    color: white;
    padding-top: 30vh; }
    #register-side-bar #form-section h2 {
      font-size: 1.875rem;
      margin-bottom: 3.25rem; }
  #register-side-bar input:not([type="submit"]) {
    display: block;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    margin: 3.125rem 0;
    padding: 6px 18px; }
  #register-side-bar input[type="submit"] {
    background-color: white;
    color: #292929;
    padding: 0.4em 5.4em;
    border-radius: 4px;
    margin-left: 8px;
    margin-bottom: 4.125rem;
    transition: all 0.3s; }
    #register-side-bar input[type="submit"]:hover {
      opacity: 0.8s;
      transform: scale(1.1); }
  #register-side-bar ::placeholder {
    color: inherit; }
  #register-side-bar a {
    color: #B29DFF; }
    #register-side-bar a:hover {
      opacity: 0.7; }
